/Data/Modules/ModulePredsAllPairs.RData filter=lfs diff=lfs merge=lfs -text
/Data/Multiclass/MisclassesByEnsembleProbability.csv filter=lfs diff=lfs merge=lfs -text
/Data/Multiclass/MisclassesByEnsembleProbability.xlsx filter=lfs diff=lfs merge=lfs -text
/Data/Multiclass/MulticlassModuleData.RData filter=lfs diff=lfs merge=lfs -text
/Data/Multiclass/MulticlassModuleDataKEGG.RData filter=lfs diff=lfs merge=lfs -text
/Data/Multiclass/SupplementalDatafile1.xlsx filter=lfs diff=lfs merge=lfs -text
/Data/OtherData/AllKEGGCDSs.RData filter=lfs diff=lfs merge=lfs -text
/Data/SupplementalData/Homology/ModuleSequenceSet.RData filter=lfs diff=lfs merge=lfs -text
/Data/SupplementalData/ModulesValidation/MulticlassModuleData_ModuleHoldout.RData filter=lfs diff=lfs merge=lfs -text
